.container
  .row.text-align-center
    .col-9
      %h2 THE PORCH
      %h5 where paperboy throws your weekly episodes
      %p
      = "#{Episode.last_week_time_period[:starting_at]} -- #{Episode.last_week_time_period[:ending_at]}"
      %hr/
      %iframe{:src => "", name: 'episode_player', :style => "border:none;", :width => "100%", scrolling: 'no'}
      %hr/
  .row.justify-center
    .col-9
      - unless @items.blank?
        - @items.each_with_index do |item, index|
          %h4
            = item.title.html_safe
          %h5
            = "by '#{item.feed.name}' @ #{item.published_at.to_formatted_s(:short)}"
          %h6
            = link_to "listen", player_url(slug: item.slug), class: "btn btn-info", target: 'episode_player'
            |
            = link_to 'download', item.audio_url, target: :_blank, class: 'link-success', download: "ppd_#{item.slug}"
            |
            = link_to "dismiss", dismiss_episode_path(episode_id: item.id), class: 'btn btn-light', method: :put
          %hr
      - else
        You don't have any new episodes.
        This is because you haven't subscribed to feeds, or your feeds did not published new episodes between
        = "#{Episode.last_week_time_period[:starting_at].to_s(:short)} and #{Episode.last_week_time_period[:ending_at].to_s(:short)}"
    %br/

= pagy_nav(@pagy).html_safe unless @items.blank?
