<div class="container">
  <div class="row">
      <h2>
          porch
      </h2>
      <h6>
          where paperboy throws your weekly episodes
      </h6>
      <h5>
          <% if @pagy.present? %>
              <%= "#{@pagy.count} NEW EPISODES!" %>
          <% end %>
      </h5>
      <h6>
          <%= "#{Episode.last_week_time_period[:starting_at]} -- #{Episode.last_week_time_period[:ending_at]}" %>
      </h6>
  </div>
  <% if @items.present? %>
    <% @items.each do |item| %>
      <br/>
      <div class="row">
        <h4>
          <%= "#{item.title.html_safe}" %>
        </h4>
        <h5>
          by
          <%= link_to item.feed.name, feed_path(item.feed.slug), method: :get %>
          <%= "@ #{item.published_at.to_formatted_s(:short)}" %>
        </h5>
        <p>
          <%= item.try(:duration) %>
        </p>
        <h6>
          <div data-controller="audio" data-audio-url-value="<%= item.audio_url %>">
                <button data-action="click->audio#change">nxt</button>
          </div>
          |
          <%= link_to 'download', item.audio_url, target: :_blank, class: 'link-success', download: "ppd_#{item.slug}" %>
          |
          <%= link_to "dismiss", dismiss_episode_path(episode_id: item.id), class: 'btn btn-light', method: :put %>
          |
          <%= link_to "later", listen_it_later_episode_path(episode_id: item.id), class: 'btn btn-light', method: :put %>
        </h6>
      </div>
      <br/>
      <hr/>
    <% end %>
  <% else %>
    <div class="row">
      <div class="col-12">
        You don't have any new episodes.
        <br/>
        This is because you haven't subscribed to feeds, or your feeds did not published new episodes between
        <%= "#{Episode.last_week_time_period[:starting_at].to_s(:short)} and #{Episode.last_week_time_period[:ending_at].to_s(:short)}" %>
        <br/>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col">
      <%= render 'partials/page_navigation' %>
    </div>
  </div>
</div>

