.container
  %div{:style => "text-align: center;"}
    %h2 subscriptions
  %hr/

  - if @items.exists?
    - @items.each do |item|
      %div{:style => "width: 100%; overflow: hidden; align-items: center;"}
        %div{:style => "width: 600px; float: left; text-align: center;"}
          = image_tag item.pic_url, class: "img-thumbnail", size: "200x200"
        %div{:style => "margin-left: 6px;"}
          %h4
            = item.name
          %h5
            = item.provider
        = button_to 'unsubscribe', unsubscription_path(item.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger'

  - else
    %h3
      You don't have any subscriptions yet :/
  %br/

= render 'partials/page_navigation'
