<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-fifth">
                <figure class="image is-128x128">
                    <img class="is-rounded" src="<%= @feed.pic_url %>">
                </figure>
            </div>
            <div class="column is-pulled-left">
                <h2 class="title is-2">
                    <%= @feed.name %>
                </h2>
                <p class="subtitle">
                    by
                    <%= @feed.provider %>
                </p>
            </div>
            <div class="column">
                <div class="buttons">
                    <button data-action="click->audio#handleChange" class="button is-link">
                        <i class="fa-regular fa-circle-play"></i>
                        random episode
                    </button>
                    <%= button_to unsubscription_path(@feed.id), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'button is-danger' do %>
                        unsubscribe
                    <% end %>
                </div>

                <%= link_to "Dismissed Episodes", root_path, class: 'link' %>
                </p>
            </div>
        </div>
        <hr/>
        <% if @items.present? %>
            <% @items.each do |item| %>
                <%= render partial: 'partials/episode', locals: { item: item, show_dismiss_button: true, show_image: false } %>
            <% end %>
        <% else %>
            This feed does not have any episodes🫤
        <% end %>
        <div class="row">
            <%= render 'partials/page_navigation' %>
        </div>
    </div>
</section>
