.container
  .row.text-center.justify-content-center
    %h2 sign up
    %br/
    %br/
    %br/
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'e-mail'
      .field
        %br/
        = f.password_field :password, autocomplete: "new-password", placeholder: 'password'
      .field
        = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'password confirmation'
        %br/
        %br/
      .actions
        = f.submit "Sign up"
        %br/
    = render "devise/shared/links"
