<section class="section is-info">
    <div class="container">
        <div class="columns is-vcentered">
            <% if show_image %>
                <div class="column is-one-fifth">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="<%= item.feed.pic_url %>">
                    </figure>
                </div>
            <% end %>
            <div class="column">
                <h1 class="title is-5">
                    <%= "#{item.title.html_safe}" %>
                </h1>
                <p class="subtitle is-6">
                    by
                    <%= link_to item.feed.name, feed_path(item.feed.slug), data: { turbo_frame: "_top" } %>
                    <br>
                    <% if show_short_date %>
                        <%= "@ #{item.published_at.to_formatted_s(:short)}" %>
                    <% else %>
                        <%= "@ #{item.published_at.to_formatted_s(:long)}" %>
                    <% end %>
                    <br>
                    <%= item.try(:duration) %>

                    <% if current_user && Interaction.bookmarked_second(item.id, current_user.id) %>
                        <i class="fa-solid fa-bookmark"></i>
                        <%= Interaction.bookmarked_at_pretty_time(item.id, current_user.id) %>
                    <% end %>
                    <br>
                </p>


                <%= link_to episode_path(slug: item.slug),class:"button is-info is-small", data: { turbo_frame: "_top" } do %>
                    details
                <% end %>
            </div>
            <div class="column is-two-fifths">
                <div data-controller="audio buttons"
                     data-audio-url-value="<%= item.audio_url %>"
                     data-audio-episode-url-value="<%= episode_path(item.slug) %>"
                     data-audio-text-value="<%= item.player_text %>"
                     data-audio-episode-id-value="<%= item.id %>"
                     <% if current_user %>
                         data-audio-bookmarked-at-second-value="<%= Interaction.bookmarked_second(item.id, current_user.id) %>"
                     <% end %>
                     class="buttons">

                    <button data-action="click->audio#handleChange" class="button is-primary">
                        <i class="fa-regular fa-circle-play"></i>
                        play
                    </button>
                    <% if @override_litl || @listen_it_latereds&.include?(item.id) %>
                            <%= button_to listen_it_later_episode_path(episode_id: item.id),class:"button is-dark", method: :put do %>
                                un-later
                            <% end %>
                    <% else %>
                            <%= button_to listen_it_later_episode_path(episode_id: item.id),class:"button is-warning", method: :put do %>
                                listen-it-later
                            <% end %>
                    <% end %>
                </div>
                <% if show_dismiss_button %>
                    <%= button_to dismiss_episode_path(episode_id: item.id), class: 'button is-link is-small is-light',  method: :put do %>
                        archieve
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</section>
