<section class="section is-info">
    <div class="container">
        <div class="columns is-vcentered">
            <% if with_image %>
                <div class="column is-one-fifth">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="<%= item.feed.pic_url %>">
                    </figure>
                </div>
            <% end %>
            <div class="column">
                <h1 class="title is-5">
                    <%= "#{item.title.html_safe}" %>
                </h1>
                <p class="subtitle is-6">
                    by
                    <%= link_to item.feed.name, feed_path(item.feed.slug) %>
                    <br>
                    <%= "@ #{item.published_at.to_formatted_s(:short)}" %>
                    <br>
                    <%= item.try(:duration) %>
                </p>
            </div>
            <div class="column is-two-fifths">
                <div data-controller="audio" data-audio-url-value="<%= item.audio_url %>" data-audio-text-value="<%= item.player_text %>" class="buttons">
                        <button data-action="click->audio#handleChange" class="button is-primary">
                            <i class="fa-regular fa-circle-play"></i>
                            play
                        </button>
                        <%= button_to listen_it_later_episode_path(episode_id: item.id),class:"button is-info", method: :put do %>
                            <i class="fa-regular fa-clock"></i>
                            later
                        <% end %>
                </div>
                <% if show_dismiss_button %>
                    <%= button_to dismiss_episode_path(episode_id: item.id), class: 'button is-danger is-small',  method: :put do %>
                        dismiss
                        <i class="fa-solid fa-trash"></i>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</section>
