<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-fifth">
                <figure class="image is-128x128">
                    <img class="is-rounded" src="<%= @episode.feed.pic_url %>">
                </figure>
            </div>
            <div class="column is-pulled-left">
                <h2 class="title is-4">
                    <%= @episode.title %>
                </h2>
                <p class="subtitle">
                    by
                    <%= link_to @episode.feed.name, feed_path(@episode.feed.slug) %>
                    <br>
                    at
                    <%= "@ #{@episode.published_at.to_formatted_s(:long)}" %>
                </p>

                <div data-controller="audio buttons" data-audio-url-value="<%= @episode.audio_url %>"
                     data-audio-text-value="<%= @episode.player_text %>"

                     data-audio-episode-id-value="<%= @episode.id %>"
                    <% if current_user %>
                        data-audio-bookmarked-at-second-value="<%= Interaction.bookmarked_second(@episode.id, current_user.id) %>"
                    <% end %>
                     data-audio-episode-url-value="<%= episode_path(@episode.slug) %>"
                     class="buttons">
                    <button data-action="click->audio#handleChange" class="button is-link">
                        <i class="fa-regular fa-circle-play"></i>
                        play
                    </button>
                    <br>

                    <% if current_user && !Interaction.bookmarked_second(@episode.id, current_user.id)&.zero? %>
                        <%= button_to bookmark_episode_path(@episode.id), method: :put, class: "button is-warning is-small", params: { second: 0 } do %>
                            remove
                            &nbsp;
                            <i class="fa-solid fa-bookmark"></i> 
                            &nbsp;
                            <%= Interaction.bookmarked_at_pretty_time(@episode.id, current_user.id) %>
                        <% end %>
                    <% end %>

                    <%= link_to 'random', random_episode_path(feed_slug: @episode.feed.slug), class: 'button is-small is-secondary is-success' %>
                </div>
            </div>
            <div class="column">
                <div class="buttons">
                    <%= button_to dismiss_episode_path(@episode.id), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'button is-danger' do %>
                        archieve
                    <% end %>

                    <%= button_to listen_it_later_episode_path(episode_id: @episode.id),class:"button is-primary", method: :put do %>
                        listen-it-later
                    <% end %>

                </div>
                </p>
            </div>
        </div>
        <hr/>

        <h1 class="title is-4">
            summary
        </h1>

        <% if @episode.summary %>
            <p class="subtitle">
                <%= sanitize @episode.summary %>
            </p>
        <% else %>
            <p class="subtitle">
                No summary is found for this episode🥸
            </p>
        <% end %>
    </div>
</section>
