<section class="section">
    <div class="container">
    </div>
</section>
<div class="container">
  <div class="row text-center justify-content-center">
    <h2>your personal digest for your favorite podcasts</h2>
    <br/>
    <div class="box">
      <%= image_tag("paperboy_700.png", class: 'img-rounded', width: '300') %>
    </div>
    <br/>
    <br/>
    <h3>delivered weekly on wednesdays</h3>
    <h5>
      <% if current_user %>
        <%= link_to 'subscriptions', subscriptions_path %>
        |
        <%= link_to 'porch', porch_path %>
        |
        <%= link_to 'search', search_path %>
        |
        <%= link_to 'about', about_path %>
        |
        <br/>
        <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'about', about_path %>
        |
        <%= link_to 'search', search_path %>
        |
        <%= link_to 'sign in', new_user_session_path %>
        |
        <%= link_to 'sign up', new_user_registration_path %>
      <% end %>
    </h5>
    <br/>
    <br/>
    <p class="mt-5 mb-3 text-muted">
      <%= link_to 'source code', 'https://github.com/ccozkan/podcasts.paperboy.digital' %>
      |
      <%= link_to 'ccozkan@tutanota.com', 'mailto:ccozkan@tutanota.com' %>
      |
      <%= link_to 'author', 'https://ozkan.cc' %>
      <br/>
      <%= link_to 'privacy policy', privacy_path %>
      <br/>
      021-2023
    </p>
  </div>
</div>
