%body
  .page-wrap
    %h2 your personal digest for your subscribed podcasts
    %br/
    .box
      = image_tag("paperboy_700.png", size: '300x300', class:"mb-4")

    %h3 delivered weekly on wednesdays

    %h2
      - if current_user
        = link_to 'dashboard', dashboard_path
        |
        = link_to 'porch', porch_path
        |
        = link_to 'search', search_path
        |
        = link_to 'about', about_path
        |

        %h4
          = link_to 'sign out', destroy_user_session_path, method: :delete
      - else
        %h2
          = link_to 'about', about_path
          |
          = link_to 'search', search_path
          %h3
            = link_to 'sign in', new_user_session_path
            |
            = link_to 'sign up', new_user_registration_path


    %br/
    %br/

    %p.mt-5.mb-3.text-muted
      = link_to 'source code', 'https://github.com/ccozkan/podcasts.paperboy.digital'
      |
      = link_to 'author', 'https://ozkan.cc'

      %br/
      © 2021
