.container
  .row.text-center.justify-content-center
    %h2 your personal digest for your favorite podcasts
    %br/
    .box
      = image_tag("paperboy_700.png", class: 'img-rounded', width: '300')
    %br/
    %br/

    %h3 delivered weekly on wednesdays

    %h5
      - if current_user
        = link_to 'dashboard', dashboard_path
        |
        = link_to 'porch', porch_path
        |
        = link_to 'search', search_path
        |
        = link_to 'about', about_path
        |
        %br
        = link_to 'sign out', destroy_user_session_path, method: :delete

      - else
        = link_to 'about', about_path
        |
        = link_to 'search', search_path
        |
        = link_to 'sign in', new_user_session_path
        |
        = link_to 'sign up', new_user_registration_path

    %br/
    %br/

    %p.mt-5.mb-3.text-muted
      = link_to 'source code', 'https://github.com/ccozkan/podcasts.paperboy.digital'
      |
      = link_to 'ccozkan@tutanota.com', 'mailto:ccozkan@tutanota.com'
      |
      = link_to 'author', 'https://ozkan.cc'
      %br/
      = link_to 'privacy policy', privacy_path
      %br/
      © 2021-2022
