<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <figure class="image is-128x128">
                    <img class="is-square" src="<%= item[:pic_url] %>">
                </figure>
            </div>
            <div class="column">
                <h1 class="title is-5">
                    <%= item[:name] %>
                </h1>
                <p class="subtitle is-6" >
                    by
                    <%= item[:provider] %>
                    <br>

                    last published at
                    <%= item[:release_date] %>
                </p>
                <p>
                    <%=  item[:genres].downcase %>
                </p>
                <div class="buttons">
                    <%= button_to "subscribe", { controller: :subscriptions, action: :create, external_id: item[:external_id], name: item[:name], pic_url: item[:pic_url], rss_url: item[:rss_url], provider: item[:provider]  }, method: :post, type: 'submit', class: 'button is-primary', disabled: @already_subscribed&.include?(item[:external_id]) %>
                    <% if @already_subscribed&.include?(item[:external_id]) %>
                        <!-- TODO: add unsub button -->
                    <% end %>

                    <%= button_to "sneak-peek", { controller: :sneak_peek, action: :start_sneak_peeking, external_id: item[:external_id], name: item[:name], pic_url: item[:pic_url], rss_url: item[:rss_url], provider: item[:provider]  }, method: :post, type: 'submit', class: 'button is-primary', disabled: @already_subscribed&.include?(item[:external_id]) %>

                    <%= button_to 'zabamke', start_sneak_peeking_path(rss_url: item[:rss_url], external_id: item[:external_id]) %>

                    <div data-controller="foobar" data-foobar-url-value="<%= item[:rss_url] %>">
                        <button data-action="click->foobar#sendPostRequest" class="button is-primary">
                            kaboombo
                        </button>
                    </div>

                </div>
                </div>
            <br/>
        </div>
    </div>
</section>
