<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <%= image_tag item[:pic_url], class: "img-thumbnail", size: "200x200" %>
            </div>
            <div class="column">
                <h1 class="title is-4">
                    <%= item[:name] %>
                </h1>
                <p class="subtitle" >
                    <%= item[:provider] %>

                </p>
                <p class="subtitle" >
                    <%= item[:genres] %>
                </p>
                <p class="subtitle" >
                    last published at
                    <%= item[:release_date] %>
                </p>
                <%= button_to "subscribe", { controller: :subscriptions, action: :create, external_id: item[:external_id], name: item[:name], pic_url: item[:pic_url], rss_url: item[:rss_url], provider: item[:provider]  }, method: :post, type: 'submit', class: 'button is-primary', disabled: @already_subscribed&.include?(item[:external_id]) %>
            </div>
            <br/>
        </div>
    </div>
</section>
