<section class="section">
    <div class="container">
        <h1 class="title is-2">
            subscriptions
            🎙️
        </h1>
    </div>
    <br>
    <%= form_with(url: subscriptions_path, method: :get) do |form| %>
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">
                <div class="control has-icons-left has-icons-right">
                    <%= form.text_field :query, class: 'input is-info is-small', placeholder: 'search' %>
                    <span class="icon is-small is-left">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
            </div>
            <div class="column is-half">
                <div class="buttons">
                    <%= form.submit 'search', name: nil, class: 'button is-secondary is-dark is-small' %>
                </div>
            </div>
        </div>
    </div>
    <% end %>
    </div>
    <hr/>
    <%= link_to 'clear', subscriptions_path if @query.present? %>
    <div class="container">
        <% if @items.present? %>
            <% @items.each do |item| %>
                <%= render partial: 'partials/feed', locals: { item: item.feed } %>
            <% end %>
        <% elsif @query %>
            You dont have any subscriptions with name <%= @query %>
        <% else %>
            <h3>
                You don't have any subscriptions yet :/
            </h3>
        <% end %>
    </div>
    <%= render 'partials/page_navigation' %>
</section>
