.container
  .row.text-center.justify-content-center
    %h2 sign in
    %br/
    %br/
    %br/
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'e-mail'
        %br/
        %br/
        = f.password_field :password, autocomplete: "current-password", placeholder: 'password'
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "Log in"
        %br/
    = render "devise/shared/links"
