.container
  %h2
    listen-it-later episodes
  %hr/

  - if @items.present?
    - @items.each do |item|
      = render partial: 'partials/episode', locals: { item: item }
  - else
    .row
      .col-12
        You don't have any new episodes.
        %br/
        This is because you haven't subscribed to feeds, or your feeds did not published new episodes between
        = "#{Episode.last_week_time_period[:starting_at].to_s(:short)} and #{Episode.last_week_time_period[:ending_at].to_s(:short)}"
        %br/

  .row
    .col
      = render 'partials/page_navigation'
