
%h2 search
= form_tag(search_path, method: :get) do
  = text_field_tag(:query, params[:query])
  %hr/

-# = pagy_nav(@pagy_a).html_safe
-# - @items.each do |s|
-#   %div{:style => "width: 100%; overflow: hidden; align-items: center;"}
-#     %div{:style => "width: 600px; float: left; text-align: center;"}
-#       = image_tag s[:pic_url], class: "img-thumbnail", size: "200x200"
-#     %div{:style => "margin-left: 6px;"}
-#       %h4
-#         = s[:name]
-#       %h5
-#         = s[:provider]
-#     = button_to "subscribe", { controller: :subscriptions, action: :create, external_id: s[:external_id], name: s[:name], pic_url: s[:pic_url], rss_url: s[:rss_url], provider: s[:provider]  }, method: :post, class: "btn btn-primary"

-#     %br/

-# %footer
-#   asd



- @items.each do |s|
  = image_tag s[:pic_url], class: "img-thumbnail", size: "200x200"
  %h4
    = s[:name]
  %h5
    = s[:provider]
    = button_to "subscribe", { controller: :subscriptions, action: :create, external_id: s[:external_id], name: s[:name], pic_url: s[:pic_url], rss_url: s[:rss_url], provider: s[:provider]  }, method: :post, type: 'submit'
  %br/

%h2
  = pagy_nav(@pagy_a).html_safe

