<!DOCTYPE html>
<html>
  <head>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>paperboy digital</title>
    <link href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>pd</text></svg>" rel="icon"></link>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>

    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <script>
     var _paq = window._paq = window._paq || [];
     _paq.push(['trackPageView']);
     _paq.push(['enableLinkTracking']);
     (function() {
         var u="//analytics.zavodx.com/";
         _paq.push(['setTrackerUrl', u+'matomo.php']);
         _paq.push(['setSiteId', '3']);
         var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
         g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
     })();
    </script>
  
    <script src="https://www.googletagmanager.com/gtag/js?id=G-DS0KMLBF6M"></script>
    <script>
    // google gtag
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-DS0KMLBF6M');
    </script>

  </head>
  <body>
      <!-- <body style="background-color: #EEE8D5;"> -->
      <%= render 'partials/navbar', formats: [:html] %>

      <% if notice %>
          <div class="notification is-success">
              <button class="delete"></button>
              <%= notice %>
          </div>
      <% end %>

      <% if alert %>
          <div class="notification is-danger">
              <button class="delete"></button>
              <%= alert %>
          </div>
      <% end %>

      <%= yield %>

      <%= render partial: 'partials/player' %>
  </body>
</html>
