!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PodcastsPaperboyDigital
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    %link{:href => "https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.5.min.css", :rel => "stylesheet"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body{:style => "background-color: #EEE8D5;"}
    %p.notice= notice
    %p.alert= alert
    = yield
